# Server Variables (Render)
GEMINI_API_KEY=
# EmailJS Configuration (Used for sending emails)
EMAILJS_SERVICE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAILJS_SERVICE_ID_2=
EMAILJS_PUBLIC_KEY_2=
EMAILJS_PRIVATE_KEY_2=
EMAILJS_TEMPLATE_WELCOME=
EMAILJS_TEMPLATE_WELCOME_BACK=
EMAILJS_TEMPLATE_ADMIN_SIGNUP=
EMAILJS_TEMPLATE_ADMIN_LOGIN=
EMAILJS_TEMPLATE_LEAD=
EMAILJS_TEMPLATE_RESET=

# Frontend Variables (Netlify/Vite)
# We use B64 to bypass Netlify's secret scanner which checks for "AIza" keys
VITE_FIREBASE_API_KEY_B64=QUl6YVN5QktyV0cxbF9fTXFPY05ObTNxVlpfWjBHU1ZqN2c4WWVv
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0409729365.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0409729365
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0409729365.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=160964696413
VITE_FIREBASE_APP_ID=1:160964696413:web:4e41cd5c2c8f9831ee70b4

# Use this to point the frontend to the backend API when hosted separately
VITE_API_BASE_URL=https://s-call-hub.onrender.com
